header p{
    display: inline-block;
    width:33%;
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

header{
    background-color: blue;
    color: white;
    /* position: fixed; */
    /* top: 0; */
    width: 100%;
    /* left:0; */
}
